footer
	.wrapper
		.footer
			.footer__top
				.footer-list-group
					each value, ind in FOOTER.navbar
						ul.footer-list
							each list in value.list
								li.footer-list__item
									a.footer-list__link(href=list.url)!= list.title
				
				.services-list-group
					.services-item
						a.services-item__wrap-icon.services-item__wrap-icon_call(href="#")
							span.services-item__icon
								+svg("icon_phone").services-item__icon-call
						p.services-item__name Позвоните нам
					.services-item
						a.services-item__wrap-icon.services-item__wrap-icon_mail(href="#")
							span.services-item__icon
								+svg("icon_email").services-item__icon-mail
						p.services-item__name Напишите нам
				
				.footer-social
					.footer-social__title Поделиться в&nbsp;соцсетях
					.footer-social__wrap
						.footer-social__wrap-item
							a.footer-social__item.footer-social__item_fb(href="#")
								span.footer-social__icon
								span.footer-social__name Facebook
						.footer-social__wrap-item
							a.footer-social__item.footer-social__item_tw(href="#")
								span.footer-social__icon
								span.footer-social__name Twitter
						.footer-social__wrap-item
							a.footer-social__item.footer-social__item_vk(href="#")
								span.footer-social__icon
								span.footer-social__name ВКонтакте
			.brand-list
				.brand-list__group.brand-list__group_left
					.brand-list__item.brand-list__item_bank
						a(href="#")
							img.brand-list__img(src="content/images/logo/bank.svg", alt="")
					.brand-list__item.brand-list__item_insurance
						a(href="#")
							img.brand-list__img(src="content/images/logo/insurance.svg", alt="")
				.brand-list__group.brand-list__group_right
					.brand-list__item.brand-list__item_broker
						a(href="#")
							img.brand-list__img(src="content/images/logo/broker.svg", alt="")
					.brand-list__item.brand-list__item_assets
						a(href="#")
							img.brand-list__img(src="content/images/logo/assets.svg", alt="")
			.footer__bottom
				.footer-copyright &copy;&nbsp;2011-2016  ООО&nbsp;<b>&laquo;РСХБ-Страхование жизни&raquo;</b>
				.footer-location
					.footer-location__address
						.footer-location__address-content
							.footer-location__address-name 119034, г. Москва, Гагаринский переулок, дом 3&nbsp;этаж&nbsp;1, помещение&nbsp;II, комната&nbsp;18
							a.footer-location__address-link(href="#") Показать на&nbsp;карте
					.footer-location__sitemap
						.footer-location__sitemap-content Карта сайта
				.footer-develop
					.footer-develop__text Разработка веб-сайта:
					.footer-develop__link
						a(href="#") компания Leann
