block page
	-var page = "documents";

extends ../blocks/layout/layout

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="documents.html") Документы
			li.breadcrumb__item.active
				span Свидетельства
		.section
			h1.section__title Свидетельства
			.b-content
				.b-cards
					.b-cards__row.js-cards-gallery
						figure.b-cards__col
							a.b-cards__item(href="https://farm2.staticflickr.com/2877/33613662191_09caa3f6a3_c.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-cards__item-media
									img.b-cards__item-img(src="content/images/certificates/small/img-1.jpg" alt="" data-size="320x320")
								.b-cards__item-text Свидетельство Российского Союза Автостраховщиков
						figure.b-cards__col
							a.b-cards__item(href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-cards__item-media
									img.b-cards__item-img(src="content/images/certificates/small/img-2.jpg" alt="" data-size="320x320")
								.b-cards__item-text Свидетельство участника Национального союза страховщиков ответственности
						figure.b-cards__col
							a.b-cards__item(href="https://farm7.staticflickr.com/726/32299032371_f6e4195860_c.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-cards__item-media
									img.b-cards__item-img(src="content/images/certificates/small/img-3.jpg" alt="" data-size="320x320")
								.b-cards__item-text Свидетельство участника Национального союза агростраховщиков
						figure.b-cards__col
							a.b-cards__item(href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-cards__item-media
									img.b-cards__item-img(src="content/images/certificates/small/img-4.jpg" alt="" data-size="320x320")
								.b-cards__item-text Свидетельство участника Национального союза страховщиков ответственности
				.b-content__hr
