block page
	-var page = "documents";

extends ../blocks/layout/layout

block content
	.wrapper
		ol.breadcrumb
			li.breadcrumb__item
				a(href="#") Главная
			li.breadcrumb__item
				a(href="#") О&nbsp;компании
			li.breadcrumb__item.active
				span Новости
		.section
			h1.section__title Новости
			.b-content
				.b-content__inner
					.b-news
						.b-news__header
							.b-news__date 05.03.2018
							h2.b-news__title АО&nbsp;СК&nbsp;&laquo;РСХБ-Страхование&raquo; выплатило ООО &laquo;ПензаМолИнвест&raquo; 1,26&nbsp;млн. рублей
						.b-news__content
							p Поголовье индейки общей численностью более 1,7&nbsp;млн. птиц было застраховано от&nbsp;рисков болезни, отчуждения, отравления, противоправных действий третьих лиц, несчастного случая и&nbsp;др.
							p Страховым случаем стала гибель более 4&nbsp;000 голов застрахованной птицы в&nbsp;Пензенской области в&nbsp;результате асфиксии.
							p По&nbsp;результатам рассмотрения предоставленных страхователем документов случай был признан страховым, и&nbsp;АО&nbsp;СК&nbsp;&laquo;РСХБ-Страхование&raquo; выплатило возмещение в&nbsp;соответствии с&nbsp;условиями договора.
				.b-news-gallery
					.b-news-gallery__row.js-cards-gallery
						figure.b-news-gallery__col
							a.b-news-gallery__item(href="https://farm2.staticflickr.com/2877/33613662191_09caa3f6a3_c.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-news-gallery__item-media
									img.b-news-gallery__item-img(src="content/images/news/small/img-1.jpg" alt="" data-size="320x320")
						figure.b-news-gallery__col
							a.b-news-gallery__item(href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-news-gallery__item-media
									img.b-news-gallery__item-img(src="content/images/news/small/img-2.jpg" alt="" data-size="320x320")
						figure.b-news-gallery__col
							a.b-news-gallery__item(href="https://farm7.staticflickr.com/726/32299032371_f6e4195860_c.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
								.b-news-gallery__item-media
									img.b-news-gallery__item-img(src="content/images/news/small/img-3.jpg" alt="" data-size="320x320")
				.b-content__hr
