header.header
	.wrapper
		.header__content
			a.header-brand(href="#")
				.header-brand__img
					img(src="assets/images/brand.jpg" alt="Россельхозбанк")
				.header-brand__title Группа &laquo;АО&nbsp;Россельхозбанк&raquo;
			.header__controls
				.phone
					.phone__name Бесплатный звонок по&nbsp;России
					a.phone__number(href="callto:88007004560")
						span.phone__number-icon
							img(src="assets/images/icon-phone.svg")
						span.phone__number-text 8 800 700 45 60
				a.navbar-toggler(href="#" data-toggle-class="app-navbar-off" data-toggle-target="#app" data-toggle-click-outside="#navbar-collapse")
					span.navbar-toggler__icon
		nav#navbar-collapse.navbar
			a.navbar__close(href="#" data-toggle-class="app-navbar-off" data-toggle-target="#app" data-toggle-click-outside="#navbar-collapse")
				span.navbar__close-icon
			.navbar__nav
				each value, ind in HEADER.navbar
					-var active = (value.page === page) ? "is-active" : "";
					-var drop = (value.dropdown) ? " dropdown" : ""
					.navbar__item(class=active+drop)
						a.navbar__link(href=value.url)!= value.title
						if value.dropdown
							.navbar-dropdown
								ul.navbar-dropdown__list
									each list in value.dropdown
										li.navbar-dropdown__list-item(class=(list.page === page) ? "is-active" : "")
											if (list.page === page)
												span.navbar-dropdown__list-link!= list.title
											else
												a.navbar-dropdown__list-link(href=list.url)!= list.title
