.section {
    padding-top: rem(26);

    &__title {
        font-family: $font-proximanova-light;
        font-size: rem(52);
        line-height: rem(54);
        color: #499e2b;
        position: relative;

        @media #{$phone} {
            font-size: rem(32);
            line-height: rem(34);
        }

        &:after {
            width: 100%;
            height: 0;
            border-top: 1px solid #245f34;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.b-quote {
    border: 1px solid #cae288;
    width: percentage(458 / 554);
    position: relative;
    font-family: $font-proximanova-light;
    font-size: rem(36);
    line-height: rem(56);
    color: #499e2b;
    padding: rem(5) rem(44);
    box-sizing: border-box;

    @media #{$phone} {
        width: 100%;
        font-size: rem(30);
        line-height: rem(46);
        margin-bottom: rem(40);
    }

    &:before {
        background-color: #ffcb05;
        width: rem(30);
        height: rem(30);
        content: "";
        position: absolute;
        top: rem(18);
        left: rem(8);

        @media #{$phone} {
            width: rem(20);
            height: rem(20);
        }
    }

    b {
        font-family: $font-proximanova-bold;
    }
}

.b-content {
    padding-top: rem(12);

    &__title {
        max-width: 80%;
        font-size: rem(48);
        line-height: rem(50);
        color: #a6ce39;
        text-align: center;
        font-family: $font-proximanova-bold;
        margin: 0 auto rem(36);

        @media #{$phone} {
            max-width: 100%;
            font-size: rem(38);
            line-height: rem(40);
        }
    }

    &__subtitle {
        color: #499e2b;
        font-size: rem(36);
        font-family: $font-proximanova-semibold;
    }

    &__inner {
        width: percentage(10 / 12);
        margin-left: auto;
        margin-right: auto;

        @media #{$phone} {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__hr {
        width: 100%;
        height: 0;
        border-top: 1px solid #245f34;
        margin-top: rem(54);
    }

    & + .b-content {
        margin-top: rem(74);

        @media #{$phone} {
            margin-top: rem(40);
        }
    }
}

.b-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    
    > li {
        position: relative;
        margin: 0.65em 0;
        padding-left: 0;
    }

    &_styled {
        font-size: rem(24);

        > li {
            padding-left: rem(64);

            &:before {
                display: inline-block;
                vertical-align: middle;
                width: rem(sprite-width("icon_list", normal));
                height: rem(sprite-height("icon_list", normal));
                $image: url("../images/#{sprite-image('icon_list', normal)}");
                $position: (sprite-x('icon_list', normal) * -1px) (sprite-y('icon_list', normal) * -1px);
                $size: rem(sprite-total-width('icon_list', normal)) rem(sprite-total-height('icon_list', normal));
                background: $image $position / $size no-repeat;
                // @include sprite-background("icon_list", normal);
            
                @include retina {
                    @include sprite-background-image("icon_list", retina);
                }
                // @include sprite("icon_list");
                content: "";
                position: absolute;
                top: -0.2em;
                margin-left: -1 * rem(64);
            }

            &+ li {
                margin-top: 1.2em;
            }
        }
    }

    &_progress {
        position: relative;
        padding-left: 32px;
        font-size: rem(18);

        > li {
            margin-top: 0.9em;
            margin-bottom: 0.9em;

            & + li {
                margin-top: 1.2em;
            }
        }

        &:before {
            background-color: #a6ce39;
            width: rem(10);
            height: rem(142);
            content: "";
            position: absolute;
            left: 0;
            top: 0.2em;
        }

        &:after {
            background-color: #ffcb05;
            width: rem(10);
            height: rem(15);
            content: "";
            position: absolute;
            left: 0;
            top: 0.2em;
        }
    }

    &_bold {
        font-family: $font-proximanova-semibold;
    }

    &_docs {
        padding-left: rem(38);

        > li {
            position: relative;
            padding-left: rem(54);

            &.is-open {
                > a {
                    color: #000;
                    text-decoration-line: underline;
    
                    &:before {
                        display: none;
                    }
                }
            }

            &:before {
                background: url("icon-docs.svg#datauri") no-repeat 0 0;
                background-size: contain;
                width: rem(24);
                height: rem(24);
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -0.1em;
            }

            > a {
                color: #898989;
                text-decoration-line: none;
                position: relative;
                transition: color 0.3s ease-in-out;

                &:before {
                    background: url("icon-arrow-yellow.svg#datauri") no-repeat 0 0;
                    background-size: contain;
                    width: rem(26);
                    height: rem(26);
                    content: "";
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease-in-out;
                    display: block;
                    position: absolute;
                    left: -1 * rem(90);
                    top: -0.05em;

                    @media #{$phone} {
                        width: rem(22);
                        height: rem(22);
                    }
                }

                &:hover {
                    color: #000;
                    text-decoration-line: underline;

                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &_info {
        padding-left: rem(38);

        > li {
            position: relative;
            padding-left: rem(54);

            &.is-open {
                > a {
                    color: #000;
                    text-decoration-line: underline;

                    &:before {
                        display: none;
                    }
                }
            }

            &:before {
                background: url("icon-inform.svg#datauri") no-repeat 0 0;
                background-size: contain;
                width: rem(24);
                height: rem(24);
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: -0.1em;
            }

            > a {
                color: #898989;
                text-decoration-line: none;
                position: relative;
                transition: color 0.3s ease-in-out;

                &:before {
                    background: url("icon-arrow-yellow.svg#datauri") no-repeat 0 0;
                    background-size: contain;
                    width: rem(26);
                    height: rem(26);
                    content: "";
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease-in-out;
                    display: block;
                    position: absolute;
                    left: -1 * rem(90);
                    top: -0.05em;

                    @media #{$phone} {
                        width: rem(22);
                        height: rem(22);
                    }
                }

                &:hover {
                    color: #000;
                    text-decoration-line: underline;

                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &_hovered {
        font-size: rem(22);

        > li {
            &.is-open {
                > a {
                    color: #499e2b;
                    text-decoration-line: none;

                    &:before {
                        display: none;
                    }
                }

                > ul {
                    display: block;
                }
            }

            > a {
                color: #000;
                text-decoration-line: none;
                position: relative;
                transition: color 0.3s ease-in-out;

                &:before {
                    background: url("icon-arrow-yellow.svg#datauri") no-repeat 0 0;
                    background-size: contain;
                    width: rem(26);
                    height: rem(26);
                    content: "";
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease-in-out;
                    display: block;
                    position: absolute;
                    left: -1 * rem(54);
                    top: -0.05em;

                    @media #{$phone} {
                        width: rem(22);
                        height: rem(22);
                        left: -1 * rem(30);
                        top: 0.05em;
                    }
                }

                &:hover {
                    color: #499e2b;
                    text-decoration-line: underline;

                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            > ul {
                font-size: rem(18);
                display: none;

                > li {
                    > ul {
                        font-size: rem(16);
                        display: none
                    }

                    &.is-open {
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.b-list-group {
    list-style: none;
    margin: 0;
    padding-left: rem(36);
    position: relative;

    &:before {
        content: "";
        width: 0;
        height: 100%;
        border-left: 1px solid #499e2b;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
    
    &__item {
        position: relative;
        margin: 1.4em 0;
        padding-left: 0;
    }

    &__name {
        font-size: rem(22);
        color: #499e2b;
        margin-bottom: rem(9);
    }

    &__text {
        font-size: rem(18);
        margin-bottom: rem(6);
    }
}

.b-scheme {
    display: flex;
    justify-content: space-between;

    @media #{$phone} {
        flex-wrap: wrap;
    }

    &__col {
        float: none;
    }

    &__wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content {
        border: 1px solid #cae288;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: rem(15);
        margin-bottom: rem(20);
        box-sizing: border-box;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }
}