.b-cards {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left:  ceil($grid-gutter-width / -2);
        margin-right: floor($grid-gutter-width / -2);
    }

    &__col {
        max-width: percentage(1 / 3);
        flex-basis: percentage(1 / 3);
        min-height: 1px;
        padding-left:  ceil(($grid-gutter-width / 2));
        padding-right: floor(($grid-gutter-width / 2));
        box-sizing: border-box;

        @media #{$tablet} {
            max-width: percentage(1 / 2);
            flex-basis: percentage(1 / 2);
        }

        @media #{$phone} {
            max-width: percentage(1 / 1);
            flex-basis: percentage(1 / 1);
        }
    }

    &__item {
        color: #000;
        text-decoration-line: none;

        @media #{$phone} {
            display: block;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }

        &:hover {
            color: #499e2b;
            text-decoration-line: underline;
        }
    }

    &__item-img {
        max-width: 100%;
        height: auto;
    }

    &__item-text {
        font-size: rem(18);
        padding-top: rem(8);
        padding-bottom: rem(26);
    }
}