.b-news {
    &__header {

    }

    &__content {
        font-size: rem(18);
    }

    &__date {
        font-size: rem(22);
        color: #707070;
        margin-bottom: rem(12);
    }

    &__title {
        color: #499e2b;
        font-size: rem(32);
        font-family: $font-proximanova-semibold;
    }
}

.b-news-gallery {
    padding-top: rem(34);

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left:  ceil($grid-gutter-width / -2);
        margin-right: floor($grid-gutter-width / -2);
    }

    &__col {
        max-width: percentage(1 / 3);
        flex-basis: percentage(1 / 3);
        min-height: 1px;
        padding-left:  ceil(($grid-gutter-width / 2));
        padding-right: floor(($grid-gutter-width / 2));
        box-sizing: border-box;

        @media #{$tablet} {
            max-width: percentage(1 / 2);
            flex-basis: percentage(1 / 2);
        }

        @media #{$phone} {
            max-width: percentage(1 / 1);
            flex-basis: percentage(1 / 1);
        }
    }

    &__item {
        text-decoration-line: none;

        @media #{$phone} {
            display: block;
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__item-media {
        width: 100%;
        border: 1px solid #479628;
        box-sizing: border-box;
    }

    &__item-img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.b-news-list {
    &__item {
        position: relative;

        &:before {
            background: url("icon-arrow-yellow.svg#datauri") no-repeat 0 0;
            background-size: contain;
            width: rem(26);
            height: rem(26);
            content: "";
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out;
            display: block;
            position: absolute;
            left: -1 * rem(54);
            top: -0.2em;

            @media #{$phone} {
                width: rem(22);
                height: rem(22);
                left: -1 * rem(30);
            }
        }

        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__item + &__item {
        margin-top: rem(25);
    }

    &__item:hover &__item-link {
        color: #1c8341;
        text-decoration: underline;
    }

    &__item-date {
        font-size: rem(18);
        color: #636363;
    }

    &__item-link {
        font-size: rem(22);
        color: #499e2b;
        text-decoration-line: none;
        transition: color 0.3s ease-in-out;
    }
}