.footer {
    margin-top: rem(60);
    margin-bottom: 20px;

    @media #{$phone} {
        margin-top: rem(70);
    }

    &__top {
        display: flex;
        justify-content: space-between;

        @media #{$phone} {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        @media #{$tablet} {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media #{$phone} {
            flex-direction: column;
            align-items: center;
        }
    }
}

.footer-list-group {
    @include clearfix();
    flex-basis: rem(390);

    @media #{$tablet} {
        flex-basis: rem(420);
    }

    @media #{$phone} {
        flex-basis: auto;
    }
}

.footer-list {
    margin: 0;
    padding-left: 10px;
    list-style: none;
    float: left;

    &__link {
        color: #000;
        font-size: rem(16);
        display: inline-block;
        padding-top: rem(8);
        padding-bottom: rem(8);

        &:hover {
            text-decoration: none;
        }
    }
}

.services-list-group {
    display: flex;
    width: percentage(6 / 12);
    padding-left: 8px;

    @media #{$tablet} {
        width: 40%;
        padding-left: 0;
    }

    @media #{$phone} {
        justify-content: center;
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }
}

.services-item {
    width: 168px;
    text-align: center;

    @media #{$phone} {
        width: 150px;
    }

    @media #{$smallPhone} {
        width: 130px;
    }

    &__wrap-icon {
        border: 1px solid #499e2b;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
        width: rem(100);
        height: rem(100);
        display: inline-block;
        position: relative;
    }

    &__wrap-icon_call {
        background-color: #a6ce39;

        &:hover {
            background-color: rgba(#a6ce39, 0.5);
        }
    }

    &__wrap-icon_mail {
        background-color: #ffcb05;

        &:hover {
            background-color: rgba(#ffcb05, 0.5);
        }
    }

    &__icon {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &__icon-call,
    &__icon-mail {
        width: rem(56);
        height: rem(56);
        fill: #fff;
    }

    &__wrap-icon:hover &__icon-call,
    &__wrap-icon:hover &__icon-mail {
        fill: #4a9e2b;
    }

    &__name {
        color: #000;
        text-transform: uppercase;
        font-size: rem(14);
        margin-top: rem(16);
    }
}

.footer-list + .footer-list {
    margin-left: 15px;
}

.footer-social {
    min-width: rem(174);

    @media #{$phone} {
        margin-left: 30px;
    }

    @media #{$smallPhone} {
        margin-left: 0;
    }

    &__title {
        color: #000;
        font-size: rem(14);
        font-family: $font-proximanova-semibold;

        @media #{$smallPhone} {
            display: none;
        }
    }

    &__wrap {
        padding-top: 11px;

        @media #{$smallPhone} {
            display: flex;
            justify-content: center;
        }
    }

    &__wrap-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__item {
        position: relative;
        padding-left: 38px;
        display: inline-block;
        color: #000;
        text-decoration: none;

        @media #{$smallPhone} {
            padding-left: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &__item:hover &__name {
        text-decoration: underline;
    }

    &__item_fb &__icon {
        background-color: #00569e;
    }
 
    &__item_fb:hover &__icon {
        background-color: lighten(#00569e, 5%);
    }

    &__item_tw &__icon {
        background-color: #00aff5;
    }

    &__item_tw:hover &__icon {
        background-color: lighten(#00aff5, 5%);
    }

    &__item_vk &__icon {
        background-color: #006691;
    }

    &__item_vk:hover &__icon {
        background-color: lighten(#006691, 5%);
    }
    
    &__item_fb &__icon:before {
        background-image: url("icon_social-fb.svg#datauri");
    }

    &__item_tw &__icon:before {
        background-image: url("icon_social-tw.svg#datauri");
    }

    &__item_vk &__icon:before {
        background-image: url("icon_social-vk.svg#datauri");
    }

    &__icon {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        transition: background-color 0.3s ease 0s;
        transform: translateY(-50%);
        position: absolute;
        left: 0;
        top: 50%;

        &:before {
            content: "";
            background: none no-repeat 50% 50%;
            width: 10px;
            height: 10px;
            transform: translate(-50%, -50%);
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }

    &__name {
        font-size: 14px;

        @media #{$phone} {
            font-size: 12px;
        }
    }
}

.brand-list {
    @include clearfix();
    margin-top: rem(56);
    margin-bottom: rem(56);

    @media #{$smallPhone} {
        margin-top: rem(36);
        margin-bottom: rem(36);
    }

    &__group {
        @media #{$phone} {
            display: flex;
            justify-content: center;
        }
    }

    &__group_left {
        width: percentage(652 / 1140);
        float: left;

        @media (min-width: 1024px) and (max-width: $screen-lg-min) {
            max-width: 54%;
        }

        @media #{$phone} {
            width: 100%;
            float: none;
        }
    }

    &__group_left &__item + &__item {
        margin-left: 5%;
    }

    &__group_right {
        width: percentage((1140 - 652) / 1140) - 6%;
        float: right;
        margin-left: 6%;

        @media #{$phone} {
            margin-top: 20px;
            width: 100%;
            float: none;
            flex-direction: row-reverse;
            margin-left: 0;
        }
    }

    &__group_right &__item:first-child {
        margin-left: 10%;
    }

    &__item_bank {
        width: 278px;
        float: left;

        @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
            width: 230px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 180px;
        }

        @media #{$phone} {
            width: 126px;
            float: none;
        }
    }

    &__item_insurance {
        width: 304px;
        float: right;

        @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
            width: 260px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 194px;
        }

        @media #{$phone} {
            width: 140px;
            float: none;
        }
    }

    &__item_assets {
        width: 220px;
        float: left;

        @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
            width: 186px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 144px;
        }

        @media #{$phone} {
            width: 114px;
            float: none;
        }
    }

    &__item_broker {
        width: 124px;
        float: right;

        @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
            width: 102px;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 78px;
        }

        @media #{$phone} {
            width: 64px;
            float: none;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }
}

.footer-copyright {
    font-size: 12px;

    @media #{$tablet} {
        margin-left: 34px;
        margin-right: 10px;
        width: 60%;
    }

    @media #{$phone} {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    b {
        font-family: $font-proximanova-semibold;
    }
}

.footer-location {
    width: percentage(600 / 1140);
    display: flex;
    justify-content: center;

    @media #{$tablet} {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }

    @media #{$smallPhone} {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__address {
        flex-basis: 60%;
        font-size: 12px;
        position: relative;
        padding-left: 52px;
        margin-left: 10px;
        margin-right: 10px;

        @media #{$phone} {
            flex-basis: auto;
            width: 50%;
        }

        @media #{$smallPhone} {
            width: 100%;
            max-width: 300px;
            margin: 0 auto 15px;
            padding-left: 40px;
        }

        &:before {
            content: "";
            background: url("icon-map.svg#datauri") no-repeat 0 0;
            background-size: contain;
            width: 36px;
            height: 36px;
            position: absolute;
            left: 0;
            top: 0;

            @media #{$smallPhone} {
                width: 28px;
                height: 28px;
            }
        }
    }

    &__address-link {
        font-family: $font-proximanova-semibold;
        color: #245f34;
    }

    &__sitemap {
        font-size: 12px;
        position: relative;
        padding-left: 56px;
        margin-left: 10px;
        margin-right: 10px;

        @media #{$smallPhone} {
            width: 100%;
            max-width: 300px;
            margin: 0 auto 15px;
            padding-left: 40px;
        }

        &:before {
            content: "";
            background-image: url("icon-sitemap.svg#datauri");
            background-size: contain;
            width: 45px;
            height: 45px;
            position: absolute;
            left: 0;
            top: 0;

            @media #{$smallPhone} {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.footer-develop {
    font-size: 12px;
    flex-basis: 150px;

    @media #{$tablet} {
        margin-left: 10px;
    }

    @media #{$phone} {
        flex-basis: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    @media #{$smallPhone} {
        font-size: 10px;
    }

    &__link {
        font-family: $font-proximanova-semibold;
    }

    a {
        text-decoration: none;
        color: #245f34;
    }
}