.navbar {
    @media #{$tablet} {
        padding: 10px 45px 10px 10px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1001;
        flex-direction: column;
        transition: transform 300ms ease 0s;
        transform: translate3d(-100%, 0, 0);

        .app-navbar-off & {
            transition: transform 300ms ease 0s;
            transform: translate3d(0, 0, 0);
        }
    }

    &__close {
        border-radius: 50%;
        border: 1px solid #479628;
        width: 30px;
        height: 30px;
        display: none;
        padding: rem(5);
        line-height: 1;
        position: absolute;
        top: rem(15);
        right: rem(15);
        box-sizing: border-box;
        z-index: 1;

        @media #{$tablet} {
            display: block;
        }
    }

    &__close-icon {
        background: url("icon-close-navbar.svg#datauri") no-repeat 0 0;
        background-size: 100% 100%;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__nav {
        display: flex;
        justify-content: space-between;

        @media #{$tablet} {
            border: 1px solid #479628;
            background-color: #fff;
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        z-index: 4;

        &:last-child {
            .navbar-dropdown {
                left: inherit;
                right: 0;
            }
        }

        &.hover {
            @media #{$tablet} {
                background-color: #479628;
            }
            .navbar-dropdown {
                visibility: visible;
                opacity: 1;
            }
        }

        &.active {
            .navbar-dropdown {
                @media #{$tablet} {
                    display: block;
                }
            }
        }
    }

    &__item + &__item {
        @media #{$tablet} {
            border-top: 1px solid #479628;
        }
    }

    &__item.hover &__link {
        color: #1f7d35;
        text-decoration-line: underline;

        @media #{$tablet} {
            color: #fff;
            text-decoration-line: none;
        }
    }

    &__item.dropdown &__link {
        &:before {
            border: rem(14) solid transparent;
            border-left-width: rem(9);
            border-right-width: rem(9);
            border-top-color: #1f7d35;
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-top: -1 * rem(3);
            transform: translateX(-50%);
            display: none;

            @media #{$tablet} {
                background: url("icon-arrow-yellow.svg#datauri") no-repeat 0 0 transparent;
                background-size: contain;
                width: 20px;
                height: 20px;
                border: medium none;
                left: inherit;
                right: 5px;
                top: 6px;
                margin-top: 0;
                transform: translateX(0) rotate(90deg);
                display: block;
            }
        }
    }

    &__item.dropdown.hover &__link {
        &:before {
            display: block;

            @media #{$tablet} {
                background-image: url("icon-arrow-white.svg#datauri");
                transform: translateX(0) rotate(-90deg);
            }
        }
    }
    
    &__item.is-active &__link {
        color: #1f7d35;
        font-family: $font-proximanova-semibold;
        text-decoration-line: underline;
    }

    &__link {
        display: inline-block;
        color: #636363;
        font-size: rem(21);
        position: relative;
        transition: all 0.3s ease 0s;
        text-decoration: none;

        @media #{$laptop} {
            font-size: rem(19);
        }

        @media #{$tablet} {
            color: #000;
            display: block;
            font-size: rem(20);
            padding: rem(10) rem(16);
        }
    }
}

.navbar-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;

    @media #{$tablet} {
        position: relative;
        padding-top: 0;
        display: none;
    }
    
    &__list {
        min-width: 248px;
        list-style: none;
        margin: 0;
        border: 1px solid #479628;
        background-color: #fff;
        box-sizing: border-box;
        padding: 0;

        @media #{$tablet} {
            border: medium none;
            padding: 3px 0;
        }
    }

    &__list-item {
        position: relative;

        &:hover,
        &.is-active {
            background-color: #479628;

            @media #{$tablet} {
                background-color: transparent;
            }
        }
    }

    &__list-item:hover &__list-link,
    &__list-item.is-active &__list-link {
        color: #fff;

        @media #{$tablet} {
            color: #479628;
            text-decoration-line: underline;
        }
    }

    &__list-link {
        color: #000;
        display: block;
        font-size: rem(20);
        padding: rem(10) rem(16);
        text-decoration-line: none;

        @media #{$tablet} {
            font-size: rem(18);
            padding: rem(6) rem(16) rem(6) rem(28);
        }
    }
}