.table-responsive {
    display: block;
    overflow-x: auto;
    min-height: 0.01%;
    
    @media #{$tablet} {
        border: 1px solid #499e2b;
        width: 100%;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        box-sizing: border-box;
    }
}

.table {
    border: 1px solid #499e2b;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;

    .table-responsive > & {
        @media #{$tablet} {
            border: 0 none;
        }
    }

    > thead > tr > th,
    > tbody > tr > td {
        .table-responsive > & {
            @media #{$tablet} {
                white-space: nowrap;
            }
        }
    }

    thead > tr > th {
        border-bottom: 1px solid #b7b7b7;
    }

    tbody > tr {
        > td {
            border-bottom: 1px solid #b7b7b7;
        }

        &:last-child > td {
            border-bottom: medium none;
        }
    }

    thead tr {
        background-color: #77b660;
        font-weight: normal;
    }

    th {
        height: rem(126);
        font-weight: bold;
        color: #fff;
        vertical-align: middle;
        font-size: rem(28);
        border-left: 1px solid #fff;
        padding: rem(12);
        box-sizing: border-box;

        @media #{$phone} {
            height: rem(96);
            font-size: rem(22);
        }

        &.center {
            text-align: center;
        }

        &:first-child {
            border-left: 0 none;
        }
    }

    td {
        border-left: 1px solid #b7b7b7;
        height: rem(82);
        font-size: rem(24);
        vertical-align: middle;
        padding: rem(12);
        box-sizing: border-box;

        @media #{$phone} {
            height: rem(62);
            font-size: rem(20);
        }

        &.center {
            text-align: center;
        }

        &:first-child {
            border-left: 0 none;
        }
    }

    &_striped {
        > tbody > tr:nth-child(2n) {
            background-color: #f5f5f5;
        }
    }
}